{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1>Account Verification</h1>
        {% if email %}
          <p>To verify your email address, click on the verification link sent to your registered email address.</p>
        {% endif %}
        
        {% if phone %}
            <p>Please Enter the one-time password sent to your registered phone number.</p>
            <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Verify OTP</button>
            </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}