{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method ="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted"><a href="{% url 'password_reset' %}" class="ml-2">Forgot Password?</a></small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Don't have an account? <a href="{% url 'signup' %}" class="ml-2">Sign Up</a></small>
        </div>

        
    </div>
{% endblock content %}