{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted"><a href="{% url 'login' %}" >Login again</a></small>
    </div>
</div>
{% endblock content %}