{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
    <div class="alert alert-info">An email has been sent with instructions to reset your password</div>
</div>
{% endblock content %}