{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
    <div class="alert alert-info">Your password has been successfully changed!</div>
    <a href="{% url 'login' %}">Sign In Here</a>
</div>
{% endblock content %}